<p>registrar-usuario works!</p>

<div class="wraper">
    <div class="body">
        <img class="logo" src="../assets/imagenes/usuario.png" alt="Login">
        <h1>Sing in</h1>
        <form>
            <div class="form-floating mb-3">
                <input type="email" class="form-control"  placeholder="name@example.com">
                <label >Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control"  placeholder="Password">
                <label>Contraseña</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control"  placeholder="Repetir Contraseña">
                <label>Repetir Contraseña</label>
            <div class="d-grid gap2 mt-3">
                <a routerLink="/login"><button class="btn btn-primary btn-lg">Registrarse</button></a>
            </div>
            </div>
        </form>
    </div>  
</div> 