body{
    background-color: rgb(238, 239, 241);
}

.bg-gradient {
    background: linear-gradient(to right, rgb(49, 49, 83), rgb(46, 57, 153));
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
